.top-form{
    -fx-background-color :#fff;
    -fx-border-color :#000;
    -fx-border-width :.2px .2px .4px .2px;
}
.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.close:hover{
    -fx-background-color:#e74141;
}
.minimize{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.minimize:hover{
    -fx-background-color:#dadada;
}

.nav-form{
    -fx-background-color:linear-gradient(to top right,#1e242e,#ae2d3c);

}

.nav-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-text_fill:#fff;
    -fx-font-size:14px;
    -fx-alignment : CENTER_LEFT ;

}
.nav-btn:hover{
    -fx-background-color:linear-gradient(to bottom right, #3862c2, #4284d0);
}


.signout{
    -fx-background-color:#ae2d3c;
    -fx-background-radius: 15px;
    -fx-cursor:hand;
}
.signout:hover{
    -fx-background-color:#d62651;
}
.bg-white{
    -fx-background-color:#fff;
    -fx-effect:dropshadow(three-pass-box,rgba(0,0,0,.3), 8,0,0,0);
    -fx-background-radius:5px;
}
.bg-white:hover{

    -fx-effect:dropshadow(three-pass-box,rgba(0,0,0,.5), 8,0,0,0);

}

.card1{
    -fx-background-color:linear-gradient(to right,#2b428c, #2e58ab);
    -fx-background-radius:0px 10px 10px 0px;

}
.card1-left {
    -fx-background-color:linear-gradient(to right,#213778, #2b428c);

}

.card2{
    -fx-background-color:linear-gradient(to right,#772d90, #a42fb8);
    -fx-background-radius:0px 10px 10px 0px;

}
.card2-left {
    -fx-background-color:linear-gradient(to right,#641f7f, #772d90);

}

.card3{
    -fx-background-color:linear-gradient(to right,#9d2250, #cc1c5a);
    -fx-background-radius:0px 10px 10px 0px;

}
.card3-left {
    -fx-background-color:linear-gradient(to right,#891a41, #9d2250);

}
.card:hover{
     -fx-effect:dropshadow(three-pass-box,rgba(0,0,0,.5), 5,0,0,0);

}

.add_textfield{
    -fx-background-color:#fff;
    -fx-background-radius:0px 5px 0px 0px;
    -fx-border-color:#1e242e;
    -fx-border-width:.8px;
    -fx-border-radius:0px 5px 0px 0px;
    -fx-font-size: 14px;
}
.add_textfield:focused {
    -fx-border-color:#ae2d3c;
    -fx-border-width: 5px;
}
.insert_btn{
    -fx-background-color:#3150a1;
    -fx-background-radius:8px;
    -fx-text-fill: #fff;
    -fx-font-size : 14px;
    -fx-cursor:hand;
}

.insert_btn:hover{
    -fx-background-color:#3c71c4;
}

.update_btn{
    -fx-background-color:#337254;
    -fx-background-radius:8px;
    -fx-text-fill: #fff;
    -fx-font-size : 14px;
    -fx-cursor:hand;
}

.update_btn:hover{
    -fx-background-color:#3ea185;
}

.delete_btn{
    -fx-background-color:#962934;
    -fx-background-radius:8px;
    -fx-text-fill: #fff;
    -fx-font-size : 14px;
    -fx-cursor:hand;
}
.delete_btn:hover{
    -fx-background-color:#d33d63;
}

.clear_btn{
    -fx-background-color:#933b80;
    -fx-background-radius:8px;
    -fx-text-fill: #fff;
    -fx-font-size : 14px;
    -fx-cursor:hand;
}

.clear_btn:hover{
    -fx-background-color:#c242be;
}

.search{
    -fx-background-color:#fff;
    -fx-background-radius:0px 10px 0px 0px;
    -fx-border-color:#1e242e;
    -fx-border-width:1px;
    -fx-font-size:14px;
    -fx-border-radius:0px 10px 0px 0px;
    -fx-padding: 0px 0px 10px;
}

.search:focused{
    -fx-border-color:#ae2d3c;
    -fx-border-width:2px;
}

.table-view {
    -fx-padding :0;
    -fx-border-radius: 8px;
    -fx-border-color: linear-gradient(to bottom right, #188ba7, #306090);
}

.table-view .column-header-background {
    -fx-border-color: linear-gradient(to bottom right, #188ba7, #306090);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 8px 9px 0 0;
}

.table-view .column-header {
    -fx-size: 40px;
    -fx-background-color: #188ba7;
}

.table-view .column-header .label {
    -fx-font-family: Arial;
    -fx-text-fill: #fff;
}
.infor-card{
    -fx-border-color:#ae2d3c;
    -fx-border-radius:10px 0px 0px 10px;

}

